<?php

class Config
{
    /**
     * @var string
     */
    public const TOGGL_BASE_URL = 'https://www.toggl.com/api/v8/';

    /**
     * Toggl API Key
     *
     * @var string
     */
    public const API_KEY = '<Your API Key>';

    /**
     * Toggl Workspace ID
     *
     * @var int
     */
    public const WID = <Workspace ID>;

    /**
     * @var array
     */
    public const PID_MAP = [
        // Project Code => Toggl PID
        'FOO' => 555555555,
        'BAR' => 666666666,
    ];

    /**
     * @var array
     */
    public const TAG_MAP = [
        // Project Code Suffix => Tag Name
        'OPS' => 'operation',
    ];
}
